@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}


:root {
    --primary-color: #38b036;
    --primary--ten-percent: #88D686;
    --secondary-color: #86e884;
    --third-color: #FFFDD0;
    --dark-color: #707070;

    --danger-color: #dc3545;
    --danger-bg: #f8d7da;

    --success-color: #28a745;
    --success-bg: #d4edda;

    --text-color: #555;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -9999;
}

#content {
    width: 1024px;
    height: 100dvh;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
